<!-- Created By : Vijeta Rathod -->

<!-- Side Bar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-animate-left w3-card-2" style="z-index:3;width:250px;" id="mySidebar">
	<!-- Logo -->
	<div class="text-center" style="height:80px;">
			<label class="w3-text-blue"><b>SIDEBAR</b></label>
	</div>
	<!-- Sidebar Links -->
	
	<a class="w3-bar-item w3-button" routerLink="/dashboard"  [ngClass]="{'w3-teal': (active === '/dashboard')}"> <i class="w3-medium fa fa-plus"></i>  Dashboard</a>
	<!-- <a class="w3-bar-item w3-button" [ngClass]="{'w3-teal': (active === '/')}" routerLink="/"> <i class="w3-medium fa fa-user"></i>  User List</a>
	<a class="w3-bar-item w3-button" routerLink="/add"  [ngClass]="{'w3-teal': (active === '/add')}"> <i class="w3-medium fa fa-plus"></i>  Add new user</a> -->
	<a class="w3-bar-item w3-button" [ngClass]="{'w3-teal': (active === '/product')}" routerLink="/product"> <i class="w3-medium fa fa-user"></i>  Product List</a>
	<a *ngIf="loggedInUserRole == 1" class="w3-bar-item w3-button" [ngClass]="{'w3-teal': (active === '/user')}" routerLink="/user"> <i class="w3-medium fa fa-user"></i>  User List</a>
	<a *ngIf="loggedInUserRole == 2" class="w3-bar-item w3-button" [ngClass]="{'w3-teal': (active === '/profile')}" [routerLink]="['/user/profile', loggedInUserId]"> <i class="w3-medium fa fa-user"></i>  User Profile</a>
	<a class="w3-bar-item w3-button" [ngClass]="{'w3-teal': (active === '/observable')}" routerLink="/observable"> <i class="w3-medium fa fa-plus"></i>  observable</a>
	<a class="w3-bar-item w3-button" [ngClass]="{'w3-teal': (active === '/learnrxjs')}" routerLink="/learnrxjs"> <i class="w3-medium fa fa-plus"></i>  Learn RXJS</a>
	<a class="w3-bar-item w3-button" (click)="logOut()"><i class="w3-medium fa fa-sign-out"></i>  Logout</a>
</nav>

<!-- Load main contents -->
<div class="w3-main" style="margin-left:250px;">
	<div class="w3-container">
		Dashboard Works!!!
		<div style="width: 100%;border:1px solid red;">
			<ngx-datatable
			  #table
			  class="material"
			  [columnMode]="'force'"
			  [scrollbarH]="true"
			  [headerHeight]="50"
			  [footerHeight]="50"
			  [rowHeight]="'auto'"
			  [rows]="rows">
			  <ngx-datatable-column name="Name" [width]="100">
				<ng-template let-value="value" ngx-datatable-cell-template>
				  {{value}}
				</ng-template>
			  </ngx-datatable-column>
			  <ngx-datatable-column name="Name" [width]="100">
				<ng-template let-value="value" ngx-datatable-cell-template>
				  {{value}}
				</ng-template>
			  </ngx-datatable-column>
			  <ngx-datatable-column name="Name" [width]="100">
				<ng-template let-value="value" ngx-datatable-cell-template>
				  {{value}}
				</ng-template>
			  </ngx-datatable-column>
			  <ngx-datatable-column name="Name" [width]="100">
				<ng-template let-value="value" ngx-datatable-cell-template>
				  {{value}}
				</ng-template>
			  </ngx-datatable-column>
			  <ngx-datatable-column name="Name" [width]="100">
				<ng-template let-value="value" ngx-datatable-cell-template>
				  {{value}}
				</ng-template>
			  </ngx-datatable-column>
			  <ngx-datatable-column name="Name" [width]="100">
				<ng-template let-value="value" ngx-datatable-cell-template>
				  {{value}}
				</ng-template>
			  </ngx-datatable-column>
			  <ngx-datatable-column name="Name" [width]="100">
				<ng-template let-value="value" ngx-datatable-cell-template>
				  {{value}}
				</ng-template>
			  </ngx-datatable-column>
			  <ngx-datatable-column name="Gender" [width]="100">
				<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
				  {{value}}
				</ng-template>
			  </ngx-datatable-column>
			  <ngx-datatable-column name="Age" [width]="300">
				<ng-template let-value="value" ngx-datatable-cell-template>
				  {{value}}
				</ng-template>
			  </ngx-datatable-column>
			</ngx-datatable>
		  </div>
	<!-- Initiate Child Routing -->
		<router-outlet></router-outlet>
	</div>
</div>

<!-- Created By : Vijeta Rathod -->