<p>
  observable works!
</p>

<table>
  <tr>
    <td>
        <table>
            <tr><td>From Angular.io - Observables</td></tr>
            <tr>
              <td>
                <button (click)="simple()">Simple Observable</button>
              </td>
            </tr>
            <tr>
              <td>
                  <button (click)="createConstructor()">Create observable with constructor</button>
              </td>
            </tr>
            <tr>
              <td>        
                  <button (click)="createFromEvent()">Create with custom fromEvent function</button>
                  <input type="text" id="name">
              </td>
            </tr>
            <tr>
              <td>
                  <button (click)="delayedSequence()">Create a delayed sequence</button>
              </td>
            </tr>
            <tr>
              <td>
                  <button (click)="twoSubscriptions()">Two subscriptions</button>
              </td>
            </tr>
            <tr>
              <td>
                  <button (click)="multicastSubscriber()">Create a multicast subscriber</button>
                  <br/><br/>
              </td>
            </tr>
            <tr><td>From Angular.io - RxJS</td></tr>
            <tr>
              <td>
                  <button (click)="createFromPromise()">Create an observable from a promise</button>
              </td>
            </tr>
            <tr>
              <td>
                  <button (click)="createFromCounter()">Create an observable from a counter</button>
              </td>
            </tr>
            <tr>
              <td>
                  <button (click)="createFromEventNormal()">Create an observable from an Event</button>
                  <input type="text" id="my-element">        
              </td>
            </tr>
            <tr>
              <td>
                  <button (click)="createFromAjax()">Create an observable from an Ajax</button>
              </td>
            </tr>
            <tr>
              <td>
                  <button (click)="mapOperator()">Map Operator</button>
              </td>
            </tr>
            <tr>
              <td>
                  <button (click)="pipeOperator()">Pipe Operator</button>
              </td>
            </tr>
            <tr>
              <td>
                  <button (click)="catcherrorOperator()">CatchError Operator</button>
              </td>
            </tr>
            <tr>
              <td>
                  <button (click)="retryOperator()">Retry Operator</button>
                  <br/><br/>
              </td>
            </tr>
          </table>
    </td>
  </tr>
  <tr>
    <td>
      <table>
          <tr><td>From Angular firebase</td></tr>
        <tr>
          <td>
              <button (click)="createObservable()">Create Observables - Define the stream</button>
          </td>
        </tr>
        <tr>
          <td>
              <button (click)="createObservableFromEvent()">Observable from DOM Events</button>
          </td>
        </tr>
        <tr>
          <td>
              <button (click)="createObservableFromPromise()">Observable from Promise</button>
          </td>
        </tr>
        <tr>
          <td>
              <button (click)="createObservableFromMix()">Observable from Time, Interval and static values</button>
          </td>
        </tr>
        <tr>
          <td>
              <button (click)="mapOperaterSecond()">Observable map Operator</button>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

